{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Login Form</title>
  <link rel="stylesheet" href="/static/login.css">
</head>
<body>
  <div class="container">
    <div class="form-container">
      <h1>Login</h1>
      <form>
        <label for="Username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="Username" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit">Login</button>
      </form>
    </div>
  </div>
</body>
</html>